<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/header.css" />
		<link rel="stylesheet" href="/assets/css/post.css" />
		<link rel="stylesheet" href="/assets/main.css" />
		
		<title>jastronaut's log</title>
		
		<link
			rel="icon"
			href="https://cdn.glitch.global/534e046c-213b-4d5a-914f-a9ac337c7b64/favicon.ico?v=1652907914971"
		/>
		
		<link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">
		
		<meta name="description" content="Jas Delgado's Personal Blog" />
		<meta name="robots" content="index,follow" />
		<meta property="og:title" content="jastronaut's log" />
		<meta property="og:type" content="article" />
		<meta
			property="og:description"
			content="Jas Delgado's personal blog."
		/>
		<meta
			property="og:image"
			content="https://cdn.glitch.global/534e046c-213b-4d5a-914f-a9ac337c7b64/test%3Atest.png?v=1652891744891"
		/>
	</head>

	<body>
		<header class='site-header'>
			<a class='site-title' rel='author' href='/'><h1>{{ site.title | escape }}</h1></a>
			<nav class='nav-bar'>
				<ul>
				<li>
						<a href='/'>
				<img src="{{ '/assets/FeatherIcons/home.svg' | relative_url }}">
						</a>
					</li>
					<li>
						<a href='https://jasdelgado.com/'>
				<img src="{{ '/assets/FeatherIcons/globe.svg' | relative_url }}">
						</a>
					</li>
				<li>
						<a href='/about'>
				<img src="{{ '/assets/FeatherIcons/help-circle.svg' | relative_url }}">
						</a>
					</li>

				</ul>

			</nav>

		</header>
		<main class='page-content' aria-label="Content">
			{{ content }}
		</main>
	</body>

</html>
